<a href="https://colab.research.google.com/github/Abhishek1shrivastava/Data-science/blob/main/clasifications(function).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Hhh/ml dataset.csv")

In [ ]:
df
print(df)

              Brand     Price       Body  Mileage  EngineV Engine Type  \
0               BMW    4200.0      sedan      277      2.0      Petrol
1     Mercedes-Benz    7900.0        van      427      2.9      Diesel
2     Mercedes-Benz   13300.0      sedan      358      5.0         Gas
3              Audi   23000.0  crossover      240      4.2      Petrol
4            Toyota   18300.0  crossover      120      2.0      Petrol
...             ...       ...        ...      ...      ...         ...
4340  Mercedes-Benz  125000.0      sedan        9      3.0      Diesel
4341            BMW    6500.0      sedan        1      3.5      Petrol
4342            BMW    8000.0      sedan      194      2.0      Petrol
4343         Toyota   14200.0      sedan       31      NaN      Petrol
4344     Volkswagen   13500.0        van      124      2.0      Diesel

     Registration  Year              Model
0             yes  1991                320
1             yes  1999       Sprinter 212
2             yes  2003              S 500
3             yes  2007                 Q7
4             yes  2011              Rav 4
...           ...   ...                ...
4340          yes  2014              S 350
4341          yes  1999                535
4342          yes  1985                520
4343          yes  2014            Corolla
4344          yes  2013  T5 (Transporter)

[4345 rows x 9 columns]

In [ ]:
df.describe()

               Price      Mileage      EngineV         Year
count    4173.000000  4345.000000  4195.000000  4345.000000
mean    19418.746935   161.237284     2.790734  2006.550058
std     25584.242620   105.705797     5.066437     6.719097
min       600.000000     0.000000     0.600000  1969.000000
25%      6999.000000    86.000000     1.800000  2003.000000
50%     11500.000000   155.000000     2.200000  2008.000000
75%     21700.000000   230.000000     3.000000  2012.000000
max    300000.000000   980.000000    99.990000  2016.000000

In [ ]:
df.isnull().sum()

Brand             0
Price           172
Body              0
Mileage           0
EngineV         150
Engine Type       0
Registration      0
Year              0
Model             0
dtype: int64

In [ ]:
df.head()

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4

In [ ]:
df.tail()

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
4340,Mercedes-Benz,125000.0,sedan,9,3.0,Diesel,yes,2014,S 350
4341,BMW,6500.0,sedan,1,3.5,Petrol,yes,1999,535
4342,BMW,8000.0,sedan,194,2.0,Petrol,yes,1985,520
4343,Toyota,14200.0,sedan,31,NaN,Petrol,yes,2014,Corolla
4344,Volkswagen,13500.0,van,124,2.0,Diesel,yes,2013,T5 (Transporter)

In [ ]:
df.head(10)

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4
5,Mercedes-Benz,199999.0,crossover,0,5.5,Petrol,yes,2016,GLS 63
6,BMW,6100.0,sedan,438,2.0,Gas,yes,1997,320
7,Audi,14200.0,vagon,200,2.7,Diesel,yes,2006,A6
8,Renault,10799.0,vagon,193,1.5,Diesel,yes,2012,Megane
9,Volkswagen,1400.0,other,212,1.8,Gas,no,1999,Golf IV

In [ ]:
df.tail(100)

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
4245,Audi,48900.0,other,82,4.2,Petrol,yes,2007,R8
4246,Toyota,13300.0,other,131,2.4,Gas,yes,2008,Camry
4247,Audi,13300.0,sedan,207,4.2,Petrol,yes,2004,A8
4248,BMW,49900.0,other,82,3.0,Petrol,yes,2012,640
4249,BMW,13700.0,sedan,276,3.0,Diesel,yes,2004,530
...,...,...,...,...,...,...,...,...,...
4340,Mercedes-Benz,125000.0,sedan,9,3.0,Diesel,yes,2014,S 350
4341,BMW,6500.0,sedan,1,3.5,Petrol,yes,1999,535
4342,BMW,8000.0,sedan,194,2.0,Petrol,yes,1985,520
4343,Toyota,14200.0,sedan,31,NaN,Petrol,yes,2014,Corolla
4344,Volkswagen,13500.0,van,124,2.0,Diesel,yes,2013,T5 (Transporter)

In [ ]:
df.fillna("abhishek")

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4
...,...,...,...,...,...,...,...,...,...
4340,Mercedes-Benz,125000.0,sedan,9,3.0,Diesel,yes,2014,S 350
4341,BMW,6500.0,sedan,1,3.5,Petrol,yes,1999,535
4342,BMW,8000.0,sedan,194,2.0,Petrol,yes,1985,520
4343,Toyota,14200.0,sedan,31,abhishek,Petrol,yes,2014,Corolla
4344,Volkswagen,13500.0,van,124,2.0,Diesel,yes,2013,T5 (Transporter)

In [ ]:
df.columns

Index(['Brand', 'Price', 'Body', 'Mileage', 'EngineV', 'Engine Type',
       'Registration', 'Year', 'Model'],
      dtype='object')

In [ ]:
X =df[["Brand", "Price","Year"]]

In [ ]:
print(X)

              Brand     Price  Year
0               BMW    4200.0  1991
1     Mercedes-Benz    7900.0  1999
2     Mercedes-Benz   13300.0  2003
3              Audi   23000.0  2007
4            Toyota   18300.0  2011
...             ...       ...   ...
4340  Mercedes-Benz  125000.0  2014
4341            BMW    6500.0  1999
4342            BMW    8000.0  1985
4343         Toyota   14200.0  2014
4344     Volkswagen   13500.0  2013

[4345 rows x 3 columns]

In [ ]:
X = df.drop(columns =["Brand","Price"])

In [ ]:
print(X)

           Body  Mileage  EngineV Engine Type Registration  Year  \
0         sedan      277      2.0      Petrol          yes  1991
1           van      427      2.9      Diesel          yes  1999
2         sedan      358      5.0         Gas          yes  2003
3     crossover      240      4.2      Petrol          yes  2007
4     crossover      120      2.0      Petrol          yes  2011
...         ...      ...      ...         ...          ...   ...
4340      sedan        9      3.0      Diesel          yes  2014
4341      sedan        1      3.5      Petrol          yes  1999
4342      sedan      194      2.0      Petrol          yes  1985
4343      sedan       31      NaN      Petrol          yes  2014
4344        van      124      2.0      Diesel          yes  2013

                  Model
0                   320
1          Sprinter 212
2                 S 500
3                    Q7
4                 Rav 4
...                 ...
4340              S 350
4341                535
4342                520
4343            Corolla
4344  T5 (Transporter)

[4345 rows x 7 columns]

In [ ]:
df["Brand"].unique()

array(['BMW', 'Mercedes-Benz', 'Audi', 'Toyota', 'Renault', 'Volkswagen',
       'Mitsubishi'], dtype=object)

In [ ]:
df["Brand"].nunique()

7

In [ ]:
df["Brand"].value_counts()

Volkswagen       936
Mercedes-Benz    921
BMW              694
Toyota           541
Renault          469
Audi             457
Mitsubishi       327
Name: Brand, dtype: int64

In [ ]:
df["Price"].min()

600.0

In [ ]:
df['Price'].max()

300000.0

In [ ]:
df["Brand"].max()

'Volkswagen'

In [ ]:
df["Price"].median()

11500.0

In [ ]:
def power(x):
  return x*2

In [ ]:
df["Price"].apply(power)

0         8400.0
1        15800.0
2        26600.0
3        46000.0
4        36600.0
          ...
4340    250000.0
4341     13000.0
4342     16000.0
4343     28400.0
4344     27000.0
Name: Price, Length: 4345, dtype: float64

In [ ]:
y = df["Price"].replace([4200,7900],[10000,290000],inplace=True)

In [ ]:
df["Price"]

0        10000.0
1       290000.0
2        13300.0
3        23000.0
4        18300.0
          ...
4340    125000.0
4341      6500.0
4342      8000.0
4343     14200.0
4344     13500.0
Name: Price, Length: 4345, dtype: float64